@font-face {
  src: url(../../Bastia-Bold.otf);
  font-family: "Bastia";
}

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;500&display=swap");

.HomeDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.HomeDiv2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.HomeLeft2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeLeft2 h1 {
  color: white;
  font-family: "Urbanist", monospace;
}

.HomemiD {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.HomeDown {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: white;
}

.SpaceBeetwin {
  width: 160px;
}
.SpaceBeetwin2 {
  width: 1125px;
}

@media screen and (max-width: 1068px) {
  .HomeDiv {
    display: flex;
    flex-direction: column;
  }
  .frst,
  .srd {
    visibility: hidden;
  }
}

.TitleHome {
  font-size: 3em;
  color: #fff;
  font-family: "Urbanist", monospace;
}
.HomeDiv span {
  background: linear-gradient(
    to left,
    rgba(8, 228, 242, 1),
    rgba(5, 252, 146, 1)
  );
  background-clip: text;
  color: transparent;
  font-family: "Bastia";
}

.HomeDiv h3 {
  font-size: 1em;
  color: #fff;
  font-weight: 100;
}

.HomeLeft {
  display: flex;
  flex-direction: column;
}

.HomeLeftBTN {
  display: flex;
  margin-top: 30px;
}

.HomeBid {
  margin-top: 70px;
}

.HomeSection1 {
  border: none;
  width: 90%;
  height: 20px;
  margin-top: 50px;
}

.Book-Cover {
  background: red;
  width: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imgge {
  border-radius: 20px;
}
