.bg-shape {
  overflow: hidden;
  padding: 50px;
}

.bg-shape:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: #03ff85;
  border-radius: 50%;
  top: 0;
  right: 0;
  filter: blur(100px);
  z-index: -1000;
  top: 35%; /* change value as required */
  right: -5%; /* change value as required */
}
@media screen and (max-width: 768px) {
  .bg-shape:after {
    display: none;
  }
}
.bg-shape2 {
  overflow: hidden;
  padding: 50px;
}

.bg-shape2:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #03ff85;
  border-radius: 50%;
  top: 0;
  right: 0;
  filter: blur(50px);
  z-index: -1000;
  top: 25%; /* change value as required */
  right: 85%; /* change value as required */
}

.icon-color {
  fill: white;
  cursor: pointer;
}

.Buttn {
  background-color: transparent;
  border: none;
}
