.ButtonCorners{
    background: rgb(8,228,242);
    background: linear-gradient(90deg, rgba(8,228,242,1) 0%, rgba(5,252,146,1) 100%);
    width: 160px;
    height: 45px;
    border: none;
    cursor: pointer;
    clip-path: polygon(0 0,calc(100% - 10.00px) 0,calc(100% - 5px) 5px,100% 10.00px,100% 100%,10.00px 100%,5px calc(100% - 5px),0 calc(100% - 10.00px));
}

.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(8,228,242,1), rgba(5,252,146,1));
    cursor: pointer;
    z-index: 1;
  }


  .btn::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 4px;
    background-color: #0B172E;
    z-index: -1;
  }

.btn::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, rgba(8,228,242,1), rgba(5,252,146,1));
    background-clip: text;
    color: transparent;
  }
.ButtonDotGd {
        padding: 15px 30px;
        background-color: #0B172E;
        color :white;
        text-align:center;
        border: 2px dotted  rgba(8,228,242,1);
        border-radius:20px;
        cursor: pointer;
  }



.ButtonDotGd::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, rgba(8,228,242,1), rgba(5,252,146,1));
    background-clip: text;
    color: transparent;
  }

  .ButtonTxt{
      border: none;
      font-size: 17px;
      background-color: transparent;
      padding: 10px 20px;
      text-align: center;
      justify-content: center;
      cursor: pointer;
      background: linear-gradient(to left, rgba(8,228,242,1), rgba(5,252,146,1));
      background-clip: text;
      color: transparent;
  }

  .ButtonFullGradient{
    background: linear-gradient(to right, rgba(8,228,242,1), rgba(5,252,146,1));
    padding: 15px 60px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }